.text-wrapper {
    padding: 1em;
}

.logo {
    height: 100px;
    width: 100px;
}

.text-wrapper p {
    margin-top: -1em;
}

.search-icon {
    height: auto;
    width: 25px;
    margin-right: 8px;
}