.wrapper-footer {
    text-align: center;
    /* background: rgba(34,37,41); */
    background-image: url('../images/stars.jpeg');
    margin: -.5em;
    padding: .5em;
    margin-top: auto;
    flex: 0 0 50px
}

/* container should also be display flex, flex direction column, min height 100vh */