.movie-image {
    max-width: 10em;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.movie-image:hover {
    max-width: 10em;
    height: auto;
    border: 2px solid rgb(98, 144, 212);
    border-radius: 5px;
}

h5 {
    font-weight: bold;
}
.movie-card {
    background: url('../images/floor-tile.png');
    border-radius: 5px;
    padding: .5em;
    border: 3px solid darkgray;

    display: flex;
    align-items: center;
}

.movie-info {
    margin-left: 4px;
    color: black;
    padding: 4px;
}

.badge-rating-mobile {
    float: right;
    font-size: .8em;
}

.btn-moreinfo, .btn-favorite, .btn-unfavorite {
    outline: none;
    box-shadow: none;
    padding: 7px;
    height: 50%;
    width: 48%;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.btn-moreinfo {
    background-color: rgb(88, 161, 117);
    color: white;
}

.btn-moreinfo:hover {
    background-color: rgb(38, 161, 117);
    transition: 0.2s;
}
.btn-favorite {
    background-color: rgb(255, 85, 85);
    color: white;
}

.btn-favorite:hover {
    background-color: rgb(225, 85, 85);
    transition: 0.2s;
}


@media screen and (max-width: 1000px) {
    .movie-card {
        background: url('../images/floor-tile.png');
        border-radius: 5px;
        padding: .5em;
        border: 3px solid darkgray;
        margin: auto;
        display: flex;
        align-items: center;
    }
    
    .movie-info {
        flex-direction: column;
        margin-left: 4px;
        padding-left: none;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .movie-card {
        background: url('../images/floor-tile.png');
        border-radius: 5px;
        padding: .5em;
        border: 3px solid darkgray;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .movie-info {
        flex-direction: column;
        margin-left: 4px;
        padding-left: none;
        justify-content: space-evenly;
    }
    .movie-info p {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 400px) {
    .buttons-under-image {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .movie-card {
        background: url('../images/floor-tile.png');
        border-radius: 5px;
        padding: .5em;
        border: 3px solid darkgray;

        display: flex;
        align-items: center;
    }
    .card-header-mobile h5 {
        font-size: 100%;
    }
    .movie-info {
        flex-direction: column;
        margin-left: 4px;
        padding-left: none;
        justify-content: space-evenly;
        font-size: 87%;
    }

    .movie-image {
        max-width: 6em;
        height: auto;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .movie-image:hover {
        max-width: 10em;
        height: auto;
        border: 2px solid rgb(98, 144, 212);
        border-radius: 5px;
    }
    
    .btn-moreinfo, .btn-favorite, .btn-unfavorite {
        padding: 3px 10px;
        margin-top: -1em;
    }
}